# Vector files
*.svg
*.pdf
# PLplot binary (if needed, the repo has a release with my precompiled file)
plplotluac.dll
# MS DOS Binaries
*.exe
*.dll
# *NIX Binaries 
*.o
# Visual Studio
.vs/

